# Database Connection (Supabase Postgres or Local Docker Postgres)
DATABASE_URL="postgresql://user:password@localhost:5432/finpulse_db?schema=public"

# NextAuth
NEXTAUTH_SECRET="your_nextauth_secret_key"
NEXTAUTH_URL="http://localhost:3000"

# Admin Initial Seed Credentials
ADMIN_EMAIL="admin@finpulse.vn"
ADMIN_PASSWORD="YourSecurePassword"

# Supabase Public Keys
NEXT_PUBLIC_SUPABASE_URL="https://your-project-id.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="your-supabase-publishable-key"
